* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.card{
    display: flex;
    justify-content: center;
}

.viewDetails{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60%;
    border:1px solid gray;
    border-radius: 20px;
    box-shadow: 3px 3px 8px 1px lightslategray;
    /* align-items: center; */
    /* justify-content: center; */
    /* position: fixed; */
    overflow: hidden
}

.typeColor{
    background-color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 40%;
    border-radius:20px 20px 50% 50%;
    margin-top:-2px;
    overflow: hidden;
    /* opacity: 0.7; */
}

.imgDetail{
    width: 50%;
    margin-top: -40%;
    margin-right:auto;
    margin-left: auto;
    position: relative;
    filter:drop-shadow(0 0 5rem white);
    /* filter:drop-shadow(0 0 0rem black); */
}


h2{
    margin-top:0;
    margin-bottom:.5rem;
    margin-left: 25px;
    text-transform: capitalize
}
h5{
    margin:0;
    margin-bottom:.1rem;
    margin-left: 25px;
}

.customBtn{
    /* background-color: darkgrey; */
    background-color: #505050;
    color:white;
    position: relative;
    width: 100%;
    border: none;
    padding: 10px;
}
.customBtn:hover{
    /* background-color: #505050; */
    background-color: darkgrey;
    color: white;
    position: relative;
    width: 100%;
    border: none;
    cursor: pointer;
}

.details-button{
    background-color: white;
    color:black;
    position: relative;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

ol, li {
    list-style-type: none;
}


.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}